/* Taille du logo principal*/
img {
  height: 60px;
}
nav ul img {
  height: 35px;
}

a {
  font-size: 30px;
}
.text {
  text-decoration: none;
}

.head form input {
  position: absolute;
  top: 38px;
  left: 200px;
  font-size: 15px;
  margin-bottom: 10px;
}
.head button {
  display: none;
}
/*gesttion des logos secondaires*/

.head {
  display: flex;
  justify-content: space-between;
}
nav ul {
  list-style-type: none;
}
nav ul li {
  float: left;
  width: 20%;
  text-align: center;
  padding: 25px;
}

nav a {
  display: block;
  text-decoration: none;
  color: black;
  border-bottom: 2px solid transparent;
  padding: 10px 0px;
}
nav a:hover {
  color: skyblue;
  border-bottom: 2px solid blue;
}
.deroul img {
  border-top: 4px solid blue;
}

/* gestion affichage recherche amis  */

.profilImg {
  background-color: beige;
  border: solid 5px skyblue;
  border-radius: 130px;
  width: 130px;
  height: 130px;
  position: absolute;
  top: 33%;
  left: 45%;
}

.profilImg img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.presentation .about {
  position: absolute;
  top: 400px;
  left: 25%;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 5px;
  width: 50%;
}

.presentation .myTof {
  position: absolute;
  top: 85%;
  left: 25%;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 5px;
  width: 50%;
}

.presentation div img {
  height: 40px;
}

/* pour centrer le username*/
h1 {
  text-align: center;
}

.album {
  display: flex;
  list-style: none;
}
.album img {
  height: 80px;
  width: 80px;
}

/*.about h2 a {
  position: absolute;
  left: 95%;
  text-decoration: none;
}*/

.about form {
  position: absolute;
  left: 90%;
}

/*.presentation  button {
  position: absolute;
  left: 90%;
}*/

/* *** *** Les media queries *** *** */

@media screen and (max-width: 1024px) {
  .head {
    display: flex;
    justify-content: space-around;
  }
  img {
    height: 40px;
  }

  form input {
    font-size: 10px;
  }
  .head form input {
    position: absolute;
    top: 60px;
    left: 120px; /* 80 */
    width: 150px;
    font-size: 11px;
    margin-bottom: 10px;
  }
  nav a:hover {
    color: skyblue;
    border-bottom: 2px solid transparent;
  }
  a {
    font-size: 18px;
  }
  .head nav img {
    height: 20px;
  }
  nav ul li {
    float: left;
    width: 10%;
    text-align: center;
    padding: 12px;
  }
  .head button {
    display: block;
    position: absolute;
    left: 94%;
    top: 80%;
    font-size: 2px;
  }
  .profilImg {
    background-color: beige;
    border: solid 2px skyblue;
    border-radius: 80px;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 33%;
    left: 35%;
  }
  .presentation .about {
    position: absolute;
    top: 59%;
    left: 15%;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 5px;
    width: 70%;
  }
  /*h1 {
    text-align: center;
    font-size: 5px;
  }*/
  .presentation .myTof {
    position: absolute;
    top: 85%;
    left: 15%;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 5px;
    width: 70%;
  }
  h2 {
    display: none;
  }

  .album img {
    height: 50px;
    width: 50px;
  }
  .presentation div img {
    height: 20px;
  }
}
