
<div class="container">
    
        <div class="jumbotron">
            
                <div class="col-4 pt-1">
                  <img src="../assets/images/swap.jpg" alt="#">
                  <a class="text" routerLink="/"> {{titre}} </a>
                </div>
                <h1>Administration</h1>
                <button type="button" class="btn btn-primary" routerLink="/conectAdmin">Connexion</button> 
                <button type="button" class="btn btn-primary" routerLink="/createProfils">Inscription</button> 
        </div>

    
</div>




   


