<div class="container">
    <div class="jumbotron">
      <button type="button" class="btn btn-info" routerLink="/profil-user/:{{userDisplayName}}">Retour</button>
      <h1>Info profil</h1>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Album arriere plan </th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let img of listeImages'>
                      
          <td *ngIf="userDisplayName == img.loadBy"> <img src="{{imgSite}}/{{img.photo}}" alt=""></td>
              
          <td *ngIf="userDisplayName == img.loadBy">
            <button (click)="cancelImgBack()">
              <i
                routerLink="/profil-user-infoImg/{{ img._id }}"
                class="fa fa-trash"
                style="font-size: 20px; color: gray"
              ></i>
            </button>

          </td>
        </tr>
                    
              
      </tbody>
    </table>
    <br/> <br/>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Album profils</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let imag of listeImagesPro'>
                      
          <td *ngIf="userDisplayName == imag.loadBy"> <img src="{{imgSite}}/{{imag.photo}}" alt=""></td>
              
          <td *ngIf="userDisplayName == imag.loadBy">
            <button (click)="cancelImgPro()">
              <i
                routerLink="/profil-user-infoImg/{{ imag._id }}"
                class="fa fa-trash"
                style="font-size: 20px; color: gray"
              ></i>
            </button>
          </td>
        </tr>
                    
              
      </tbody>
    </table>
  </div>

