/* Taille du logo principal*/
img {
  height: 60px;
}
nav ul img {
  height: 35px;
}

a {
  font-size: 30px;
}
.text {
  text-decoration: none;
}

.head form input {
  position: absolute;
  top: 38px;
  left: 200px;
  font-size: 15px;
  margin-bottom: 10px;
}
.head button {
  display: none;
}
.head form {
  position: absolute;
  left: 20%;
}
/*gesttion des logos secondaires*/

.head {
  display: flex;
  justify-content: space-between;
}
nav ul {
  list-style-type: none;
}
nav ul li {
  float: left;
  width: 20%;
  text-align: center;
  padding: 25px;
}

nav a {
  display: block;
  text-decoration: none;
  color: black;
  border-bottom: 2px solid transparent;
  padding: 10px 0px;
}
nav a:hover {
  color: skyblue;
  border-bottom: 2px solid blue;
}
.deroul img {
  border-top: 4px solid blue;
}
.val {
  position: absolute;
  left: 90%;
}
/* gestion affichage recherche amis  */

.profilImg {
  background-color: beige;
  border: solid 5px skyblue;
  border-radius: 130px;
  width: 130px;
  height: 130px;
  position: absolute;
  top: 2%;
  left: 40%;
}

.profilImg img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.presentation .about {
  position: absolute;
  top: 170px;
  left: 2%;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 2px;
  width: 95%;
}

.presentation .myTof {
  position: absolute;
  top: 79%;
  left: 2%;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 2px;
  width: 95%;
}
p {
  color: skyblue;
  font-weight: bold;
  position: absolute;
  left: 87%;
}

.presentation div img {
  height: 40px;
}

/* pour centrer le username*/
h1 {
  text-align: center;
}

.album {
  display: flex;
  list-style: none;
}
.album img {
  height: 80px;
  width: 80px;
}

/*.about h2 a {
  position: absolute;
  left: 95%;
  text-decoration: none;
}*/

/*.about form {
  position: absolute;
  left: 70%;
}*/

.btn2 {
  position: absolute;
  left: 88%;
  top: 50%;
}
.btn3 {
  position: absolute;
  left: 75%;
  top: 50%;
}
.mess {
  color: black;
}

.notif {
  background-color: red;
  border-radius: 20px;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 75%;
  top: 16%;
  text-align: center;
}
.pub {
  border: solid 1px black;
  border-radius: 8px;
  width: 30%;
  margin-left: 35%;
  /*position: absolute;
  left: 27%;
  padding: 3%;*/
}
.pub a {
  font-size: 20px;
  margin-left: 30px;
  text-decoration: none;
}
.recherche {
  position: absolute;
  left: 30%;
  border: solid 1px skyblue;
  background-color: skyblue;
  height: 69%;
  width: 45%;
  /*margin-left: 40px;*/
}

/* *** *** Les media queries *** *** */
/*  @media screen and (max-width: 1024px)*/
@media all and (min-width: 768px) and (max-width: 1024px) {
  .head {
    display: flex;
    justify-content: space-around;
  }
  img {
    height: 40px;
  }
  .text img {
    height: 50px;
  }

  form input {
    font-size: 10px;
  }
  .head form input {
    position: absolute;
    top: 80px;
    left: 280px; /* 80 */
    width: 310px;
    font-size: 15px;
    margin-bottom: 10px;
  }
  .head form button {
    display: none;
  }
  nav a:hover {
    color: skyblue;
    border-bottom: 2px solid transparent;
  }
  a {
    font-size: 18px;
  }
  .head nav img {
    height: 40px;
  }
  nav ul li {
    float: left;
    width: 20%;
    text-align: center;
    padding: 15px;
  }
  .head button {
    display: block;
    position: absolute;
    left: 94%;
    top: 80%;
    font-size: 2px;
  }
  .profilImg {
    background-color: beige;
    border: solid 2px skyblue;
    border-radius: 100px;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 28%;
    left: 44%;
  }
  .presentation .about {
    position: absolute;
    top: 42%;
    left: 10%;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 5px;
    width: 80%;
  }
  /*h1 {
    text-align: center;
    font-size: 5px;
  }*/
  .presentation .myTof {
    position: absolute;
    top: 54%;
    left: 10%;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 5px;
    width: 80%;
  }
  p {
    color: skyblue;
    font-weight: bold;
    font-size: 1em;
    position: absolute;
    left: 78%;
  }

  .btn2 {
    position: absolute;
    left: 74%;
    font-size: 1em;
    top: 30%;
  }
  .btn3 {
    position: absolute;
    left: 85%;
    font-size: 1em;
    top: 30%;
  }
  h2 {
    display: none;
  }

  .album img {
    height: 50px;
    width: 50px;
  }
  .presentation div img {
    height: 20px;
  }

  .notif {
    background-color: red;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 73%;
    top: 8%;
    text-align: center;
    font-size: 18px;
  }
  .notif span {
    position: absolute;
    left: 3px;
    top: 1px;
  }
}

@media all and (max-device-width: 480px) {
  .head {
    display: flex;
    justify-content: space-around;
  }
  img {
    height: 40px;
  }

  form input {
    font-size: 10px;
  }
  .head form input {
    position: absolute;
    top: 60px;
    left: 70px; /* 80 */
    width: 150px;
    font-size: 11px;
    margin-bottom: 10px;
  }
  nav a:hover {
    color: skyblue;
    border-bottom: 2px solid transparent;
  }
  a {
    font-size: 18px;
  }
  .head nav img {
    height: 20px;
  }
  nav ul li {
    float: left;
    width: 10%;
    text-align: center;
    padding: 12px;
  }
  .head button {
    display: block;
    position: absolute;
    left: 94%;
    top: 80%;
    font-size: 2px;
  }
  .profilImg {
    background-color: beige;
    border: solid 2px skyblue;
    border-radius: 80px;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 5%;
    left: 38%;
  }
  .presentation .about {
    position: absolute;
    top: 32%;
    left: 3%;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 5px;
    width: 90%;
  }
  /*h1 {
    text-align: center;
    font-size: 5px;
  }*/
  .presentation .myTof {
    position: absolute;
    top: 53%;
    left: 20%;
    border: 1px solid grey;
    border-radius: 5px;

    width: 85%;
  }

  p {
    color: skyblue;
    font-weight: bold;
    font-size: 0.8em;
    position: absolute;
    left: 70%;
  }
  .btn1 {
    position: absolute;
    left: 88%;
  }
  .btn2 {
    position: absolute;
    left: 60%;
    font-size: 0.7em;
    top: 30%;
  }
  .btn3 {
    position: absolute;
    left: 78%;
    font-size: 0.7em;
    top: 30%;
  }

  .recherche {
    position: absolute;
    left: 10%;
    border: solid 1px skyblue;
    background-color: skyblue;
    height: 58%;
    width: 80%;
    /*margin-left: 40px;*/
  }

  h2 {
    display: none;
  }

  .album img {
    height: 50px;
    width: 50px;
  }
  .presentation div img {
    height: 20px;
  }

  .notif {
    background-color: red;
    border-radius: 12px;
    width: 12px;
    height: 12px;
    position: absolute;
    left: 67%;
    top: 8%;
    text-align: center;
    font-size: 10px;
  }
  .notif span {
    position: absolute;
    left: 3px;
    top: -3px;
  }
}
