
<div class="container">
 
    
  <div class="jumbotron">
    <button class="btn btn-outline-info" routerLink="/page_accueil">retour</button>
      
          <div class="col-12 pt-1 head">
            
            <a class="text" routerLink="/profil/:_id"> <img src="../../../assets/images/profil.png" alt="#"/> {{titre}}</a> 

            <form class="form-inline my-2 my-lg-0" [formGroup]="goToUser">
              <input class="form-control mr-sm-2" type="search" placeholder="recherche" formControlName="nom" aria-label="recherche">
              <button class="btn btn-outline-success my-2 my-sm-0 " type="submit" (click)="connexion()">Search</button>
              
            </form>
            <nav>
              <ul>
                <li><a routerLink="/accueil_admin" class="deroul"><img src="../../../assets/images/home.jpg" alt="#"></a></li>
                <li><a href=""><img src="../../../assets/images/reseaux.png" alt="#"></a></li>
                <li><a href=""><img src="../../../assets/images/messages.png" alt="#"></a></li>
                <li><a routerLink="/admin-notifications"><img src="../../../assets/images/notif.png" alt="#"></a></li>
                <li ><a routerLink="/menu"><img src="../../../assets/images/menu.png" alt="#"></a>

                </li>
              </ul>
            </nav>
            <div class="notif" *ngIf="compteur !== 0"><span>{{compteur}}</span> </div>
          </div>
         
  </div>


</div>

<div class="container recherche" *ngIf="alert1">

  <div class=" profilImg">  <img src="{{imgSite}}/{{userFoundImg}}" alt="" > 
  <h1>{{userFoundName}}</h1>
  </div>
    
    <div class="container presentation">
      <div class="about">

        <h2>A propos</h2>
        <form [formGroup]="addAmis">

          <input class="form-control mr-sm-2"  type="hidden" placeholder=" {{userFoundID}} "  formControlName="idToFollow"  ngModel="{{userFoundID}}"> 
          
          <button class="btn btn-outline-info my-2 my-sm-0 btn1" type="submit"  (click)="demande()">+</button>

        </form>


        <span> <a><img src="../../../assets/images/genre.png"alt="#"></a>  &nbsp; {{userFoundGenre}}</span> <br/>
        <span> <a><img src="../../../assets/images/aniv.png"alt="#"></a> &nbsp; {{userFoundAge}} </span> <br/>
        <span> <a><img src="../../../assets/images/preferences.jpg" alt="#"></a>&nbsp; {{userFoundChoix}} </span><br/> <br/>
        <span> <a><img src="../../../assets/images/speech.png"alt="#"></a>&nbsp;{{userFoundAbout}} </span> 

      </div>

      <div class="myTof">
        <h2>Mes photos</h2>
        <ul class="album">
          <li *ngFor="let img of listeImages">
            
           <span *ngIf="userFoundName == img.loadBy"> <a><img src="{{imgSite}}/{{img.photo}}" alt="#"></a></span>
           &nbsp; 
          </li>          
        </ul>
        <!-- <ul class="album">
          <li *ngFor="let img of listeImagesPro">
            
           <span *ngIf="userFoundName == img.loadBy"> <a routerLink="/profil-user"><img src="{{imgSite}}/{{img.photo}}" alt=""></a></span>
           &nbsp;
            
          </li>
        </ul> -->
      </div>

    </div>

  </div>
  <div class="container poste">
    <div class="pub">
      <a routerLink="/admin-publications"> ++ Vous souhaitez partager ?</a>
    </div>
    <br/>
    <div>
      <h2>Les publications </h2>
      <tr *ngFor="let post of listesPoste">
        <td>
          <hr/>
          {{post.message}} <br/> posté par :  <strong>{{post.loadBy}} le {{post.date}} </strong> 
        </td>
  
      </tr>
  
    </div>
  
  </div>
