/* Taille du logo principal*/
img {
  height: 60px;
}
nav ul img {
  height: 35px;
}

a {
  font-size: 30px;
}
.text {
  text-decoration: none;
}

form input {
  position: absolute;
  top: 38px;
  left: 200px;
  font-size: 15px;
  margin-bottom: 10px;
}
form button {
  display: none;
}
/*gesttion des logos secondaires*/

.head {
  display: flex;
  justify-content: space-between;
}
nav ul {
  list-style-type: none;
}
nav ul li {
  float: left;
  width: 20%;
  text-align: center;
  padding: 25px;
}

nav a {
  display: block;
  text-decoration: none;
  color: black;
  border-bottom: 2px solid transparent;
  padding: 10px 0px;
}
nav a:hover {
  color: skyblue;
  border-bottom: 2px solid blue;
}

.text img:hover {
  color: skyblue;
  border-bottom: 2px solid blue;
}

.deroul img {
  border-top: 4px solid blue;
}
.alert a {
  text-decoration: none;
}

/*gestion des champs */
.alert button {
  text-align: left;
}
.alert button img {
  height: 40px;
}
/* Les media queries */
@media screen and (max-width: 1024px) {
  .head {
    display: flex;
    justify-content: space-around;
  }
  img {
    height: 40px;
  }
  #headImg a img {
    float: left;
    height: 18px;
    margin: 12px;
  }
  form input {
    font-size: 10px;
  }
  form input {
    position: absolute;
    top: 90px;
    left: 150px; /* 80 */
    width: 260px;
    font-size: 15px;
    margin-bottom: 10px;
  }
  nav a:hover {
    color: skyblue;
    border-bottom: 2px solid transparent;
  }
  a {
    font-size: 18px;
  }

  .head nav img {
    height: 20px;
  }
  nav ul li {
    float: left;
    width: 10%;
    text-align: center;
    padding: 12px;
  }
}
