/* Taille du logo*/
img {
  height: 60px;
}
a {
  font-size: 30px;
}
.text {
  text-decoration: none;
}

/*div {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
}*/
.jumbotron {
  margin-top: 60px;
}

@media screen and (max-width: 1024px) {
  img {
    height: 40px;
  }
  a {
    font-size: 20px;
  }
  .nav-scroller {
    display: none;
  }
  .jumbotron div {
    margin-left: 0;
  }
}
