<div class="container">
    <div class="jumbotron">
        <button type="button" class="btn btn-info" routerLink="/admin">Retour</button>
        <h1>Reinitialiser votre mot de passe  </h1>
    </div>

    <div
    *ngIf="alert"
    class="alert alert-success alert-dismissible fade show"
    role="alert"
  >
    <strong>success !</strong> Bravos le mot de passe à bien été reinitialiser <button
      (click)="fermerAlert()"
      type="button"
      class="close"
      data-dismiss="alert"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
    <div
    *ngIf="alert1"
    class="alert alert-danger alert-dismissible fade show"
    role="alert"
  >
    <strong>Error !</strong> le mot de passe de confirmation doit être identique au nouveau mot de passe  <button
      (click)="fermerAlert()"
      type="button"
      class="close"
      data-dismiss="alert"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
    <div
    *ngIf="alert2"
    class="alert alert-danger alert-dismissible fade show"
    role="alert"
  >
    <strong>Error !</strong> le mot de passe et/ou celui de confirmation doit contenir au moins 8 carractères <button
      (click)="fermerAlert()"
      type="button"
      class="close"
      data-dismiss="alert"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
    <div
    *ngIf="alert3"
    class="alert alert-danger alert-dismissible fade show"
    role="alert"
  >
    <strong>Error !</strong> le mot de passe et/ou celui de confirmation doit renseigné <button
      (click)="fermerAlert()"
      type="button"
      class="close"
      data-dismiss="alert"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

    <form class="" [formGroup]="resetPasword" (ngSubmit)="mettreAjour()">
        <!-- <div class="form-group">
            <input type="text"  class="form-control" formControlName="username" required >
        </div> --> 
        <div class="form-group">
            <input type="password" class="form-control" formControlName="password" placeholder="nouveau mot de passe " required>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" formControlName="password1" placeholder="confirmation mot de passe "  required> 
        </div> 
        <button type="submit" value="Enregistrer" class="btn btn-primary">Enregistrer</button>
    
    </form>

</div>
